body {
    background-color: lightgray;
    margin: 0px;
    /* text-align: left; */
}

Header {
    background-color: black;
    margin: 0px;
    /* text-align: left; */
}

h1,
h2,
h3 {
    color: white;
}